$background_color: #0c151a;
$text_color: #beb88c;

* {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;

  /*cursor: default;*/
  cursor: none;
  cursor: default;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}
html {
  scroll-behavior: smooth;
}
body {
  background: white;
  color: $text_color;
  overflow-x: hidden;
}
body::-webkit-scrollbar {
  width: 0px;
  height: 0px;
}

h1 {
  color: $text_color;
  font-size: 7em;
  font-weight: normal;
  letter-spacing: 15px;
}
p {
  color: white;
  font-size: 1em;
  letter-spacing: 5px;
}
h4 {
  font-style: italic;
  font-size: 1em;
  font-weight: normal;
}
h2 {
  font-size: 2.5em;
  text-transform: uppercase;
  letter-spacing: 10px;
  font-weight: 500;
}

.container {
  max-width: 1200px;
  margin-left: 10%;
  margin-right: 10%;
  padding-top: 10%;
  padding-bottom: 10%;
}
//! Animation

@keyframes fade-in {
  from {
    transform: translateY(20%);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    overflow: 1;
  }
}

header {
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  position: absolute;
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  // background: lightblue url("photo/home_image.jpg") no-repeat fixed center;
  // background-size: cover;
  z-index: 0;
  .bg-color {
    z-index: -2;
    width: 100%;
    height: 100%;
    background-color: #222222;
    position: absolute;
    .image_bg {
      height: 100%;
    }
  }
  .background_image {
    position: absolute;
    // width: 100vw;
    height: 100vh;
    width: 100vw;
    z-index: -1;
    top: 0;
    left: 0;
    div {
      height: 100%;
      .image {
        height: 100%;
      }
    }
  }
  .adresse {
    text-align: center;
    color: white;
    font-style: italic;
    font-size: 120%;
    margin-bottom: 5%;
    p {
      display: inline;
      position: relative;
      padding-left: 6%;
      padding-right: 6%;
      &::before {
        content: "";
        position: absolute;
        left: 0;
        top: 50%;
        background: white;
        height: 1px;
        width: 30px;
        transform: translate(-50%, -10%);
      }
      &::after {
        content: "";
        position: absolute;
        right: 0;
        top: 50%;
        background: white;
        height: 1px;
        width: 30px;
        transform: translate(20%, 50%);
      }
    }
  }
  .nav-header-items {
    display: flex;
    justify-content: space-between;
    width: 47vw;
    font-style: italic;

    a {
      text-decoration: none;

      &:hover span::after {
        content: "";
        position: absolute;
        width: 100%;
        height: 1px;
        background: white;
        left: 0;
        bottom: 0;
      }
    }
    span {
      font-size: 6vw;
      color: white;
      transition: 0.5s;
      position: relative;
      &::after {
        content: "";
        position: absolute;
        width: 0%;
        height: 1px;
        background: white;
        left: 0;
        bottom: 0;
        transition: 0.3s;
      }
    }
  }
}

//! header pages
.header_section {
  width: 100%;
  height: 100vh;
  // overflow: hidden;
  background: $background_color;
  position: relative;
  .image {
    height: 100%;
    opacity: 0.4;
    position: absolute;
  }
  .text_container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    h1 {
      animation: fade-in 1s;
      animation-fill-mode: backwards;
      animation-delay: 0.2s;
    }
    p {
      padding-left: 5%;
      padding-right: 5%;
      text-align: center;
      animation: fade-in 1s;
      animation-delay: 0.5s;
      animation-fill-mode: backwards;
    }
    a {
      margin-top: 4%;
      font-style: italic;
      cursor: pointer;
      text-decoration: none;
      color: white;
      font-weight: 10;
      border: 1px solid $text_color;
      padding: 15px;
      padding-left: 25px;
      padding-right: 25px;
      transition: 0.5s;
      animation: fade-in 1s;
      animation-delay: 0.8s;
      animation-fill-mode: backwards;
      &:hover {
        background: $text_color;
      }
    }
  }
}

//! Eat page
.eat_page {
  width: 100%;
  background: $background_color;
  position: relative;
  margin-bottom: 100vh;
  .container {
    gap: 20px;
    section {
      display: flex;
      justify-content: center;
      align-items: center;
      margin-bottom: 10%;
      @media screen and (max-width: 1050px) {
        flex-wrap: wrap;
      }
      .text_container {
        color: #beb88c;
        width: 50%;
        @media screen and (max-width: 1050px) {
          width: 100%;
        }
        h4 {
          text-align: center;
          margin-bottom: 1%;
        }
        h2 {
          text-align: center;
          margin-bottom: 10%;
          position: relative;
          &::before {
            content: "";
            position: absolute;
            top: 50%;
            transform: translateY(-50%) translateX(-170%);
            width: 40px;
            height: 1px;
            background: #beb88c;
          }
          &::after {
            content: "";
            position: absolute;
            top: 50%;
            transform: translateY(-50%) translateX(70%);
            width: 40px;
            height: 1px;
            background: #beb88c;
          }
        }
        .articles {
          width: 100%;
          .item {
            width: 100%;
            display: flex;
            justify-content: space-between;
            position: relative;
            span {
              font-size: 1.2em;
              z-index: 2;
              background: #0c151a;
              padding: 5px;
              text-transform: uppercase;
              letter-spacing: 3px;
            }
            div {
              position: absolute;
              left: 0;
              top: 60%;
              transform: translateY(-50%);
              // background: rgba(255, 166, 0, 0.158);
              background-image: radial-gradient(
                  circle at center center,
                  transparent 0%,
                  rgba(190, 184, 140, 0.75) 99%
                ),
                repeating-linear-gradient(
                  0deg,
                  rgba(0, 0, 0, 0.2) 0px,
                  rgba(0, 0, 0, 0.2) 1px,
                  transparent 1px,
                  transparent 6px
                ),
                repeating-linear-gradient(
                  90deg,
                  rgba(0, 0, 0, 0.2) 0px,
                  rgba(0, 0, 0, 0.2) 1px,
                  transparent 1px,
                  transparent 6px
                ),
                linear-gradient(
                  90deg,
                  rgba(190, 184, 140, 0.75),
                  rgba(190, 184, 140, 0.75)
                );
              width: 100%;
              height: 30%;
            }
          }
          p {
            color: white;
            font-style: italic;
            margin-bottom: 20px;
            font-size: 0.9em;
          }
        }
      }

      .img_container {
        width: 50%;
        position: relative;
        z-index: 2;
        @media screen and (max-width: 1050px) {
          width: 100%;
        }
        .svg {
          z-index: 4;
          opacity: 0.6;
          position: absolute;
          width: 70%;
          left: 25%;
          top: 20%;
        }
        .img {
          width: 70%;
          z-index: 20;
          margin-left: 10%;
          margin-top: 40%;
          position: relative;
          img {
            width: 100%;
            z-index: 20;
            filter: grayscale(30%);
          }
        }
      }
      &.left {
        .img_container {
          transform: translateX(-10%);
        }
      }
      &.left,
      &.right {
        .img_container {
          .svg {
            display: none;
          }
          .img {
            width: 90%;
            margin-left: auto;
            margin-top: auto;
          }
        }
      }
    }
  }
}

//! visit

.visit_page {
  background: $background_color;
  margin-bottom: 100vh;
  z-index: 1;
  position: relative;
  .container {
    .about {
      height: 100vh;
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-wrap: wrap;
      text-align: center;
      margin-bottom: 25%;
      @media (max-width: 630px) {
        margin-bottom: 50%;
      }
      .text {
        width: 60%;
        margin-bottom: 5%;
        @media (max-width: 1000px) {
          width: 75%;
        }
      }
      .images_div {
        width: 100%;
        height: 70%;
        display: flex;
        justify-content: space-around;
        align-items: center;
        div {
          height: 100%;
          width: 30%;
          overflow: hidden;
          @media (max-width: 1000px) {
            width: 40%;
          }
          .image {
            width: 100%;
          }
        }
      }
    }
    .chef {
      display: flex;
      justify-content: space-around;
      align-items: center;
      height: 100vh;
      width: 100%;
      @media (max-width: 1000px) {
        flex-wrap: wrap;
      }
      div {
        width: 40%;
        text-align: center;
        @media (max-width: 1000px) {
          width: 50%;
        }
      }
      .image {
        width: 100%;
      }
      .text {
        width: 50%;
        @media (max-width: 1000px) {
          width: 70%;
        }
        @media (max-width: 630px) {
          width: 100%;
        }
      }
    }

    .menu {
      height: 100vh;
      width: 100%;
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;
      .images_container {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex-wrap: wrap;
        div {
          width: 30%;
          height: 80%;
          position: relative;
          overflow: hidden;
          @media (max-width: 1000px) {
            width: 40%;
          }
          @media (max-width: 700px) {
            width: 70%;
            margin-bottom: 15%;
          }
          .image {
            height: 100%;
            width: auto;
            transition: 0.5s ease;

            &:hover {
              transform: scale(1.1);
            }
          }
          h2 {
            position: absolute;
            top: 10%;
            background: $background_color;
            width: 100%;
            text-align: center;
            padding: 10px;
            pointer-events: none;
          }
        }
      }
    }
  }
}
